body {
    --nav-width: 200px;
    margin: 0 0 0 var(--nav-width);
    font-family: 'Abel', sans-serif;
    font-size: 25px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.nav {
    font-size: 30px;
    position: fixed;
    top: 0;
    left: 0;
    width: var(--nav-width);
    height: 100vh;
    background: darkslategrey;
    border: 2px solid black;
}

.nav__link {
    display: block;
    padding: 12px 18px;
    text-decoration: none;
    color: #eee;
    font-weight: 500;
}

.nav__link:hover {
    background: rgb(18, 56, 56);
}

#app {
    margin: 2em;
    line-height: 1.5;
    font-weight: 500;
}

.contatos {
    width: 30%;
    margin: auto;
    justify-content: center;
    text-align: center;
}

section {
    margin: 2em 0;
    overflow: hidden;
}

section h2 {
    font-size: 3em;
    display: block;
    padding-bottom: .5em;
    border-bottom: 1px solid #ccc;
    margin-bottom: .5em;
}

table {
    width: 100%;
    margin-bottom: .5em;
    table-layout: fixed;
}

td,
th {
    padding: .7em;
    margin: 0;
    border: 1px solid #ccc;
    text-align: center;
}

th {
    font-weight: bold;
    background-color: #EEE;
}

/* /// */

.title-logo {
    font-size: 3em;
    text-align: center;
    padding: 10px 0;
}

.form-login {
    margin: 0 auto;
    width: 400px;
    padding: 1em;
    border: 2px solid black;
    border-radius: 1em;
    background-color: #4F4F4F;
}

.centro {
    margin: 0 var(--nav-width);
    display: flex;
    justify-content: center;
    align-items: center;
}

.input-login {
    width: 60%;
    height: 20px;
    justify-content: center;
    display: flex;
    margin: 20px auto;
    padding: 10px;
    border: none;
    outline: none;
    border-radius: 5px;
    border: 2px solid black;
}

.button-submit {
    width: 60%;
    height: 40px;
    margin: 10px auto;
    justify-content: center;
    display: block;
    background-color: darkslategrey;
    font-size: 1em;
    font-weight: bold;
    margin-top: 20px;
    outline: none;
    border: 2px solid black;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -webkit-transition-duration: 0.5s;
}

.button-submit:hover {
    background-color: rgb(54, 100, 100);
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

.inpt-cadastro, select{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 20px
}

.form-inpt {
    width: 50%;
    background-color: darkslategrey;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 18px;
    margin: 50px 0 0 350px;
}

.form-inpt:active {
    background-color: rgb(54, 100, 100);
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

.form-inpt:hover{
    cursor: pointer;
}

.img-logo {
    width: 100%;
    border: 2px solid black;
    border-style: none none solid none;
}

.hud {
    display: none;
}

.inpt-cadastro {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 20px
}

.lbl-cadastro {
    color: #555;
    margin: 2px;
}

.mostrar {
    display: block;
}